@model UsuarioModel
@{
    ViewData["Title"] = "Login";
}


@{
    string returnUrl = Context.Request.Query["ReturnUrl"];
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <form asp-controller="Login" asp-action="ChecarLogin" method="post" class="login-form p-4 rounded">
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <h2 class="text-center mb-4">Login</h2>
        <div class="form-group mb-3">
            <label for="cpfdigitado">E-mail</label>
            <input type="text" name="cpfdigitado" id="cpfdigitado" class="form-control" placeholder="E-mail" required />
        </div>
        <div class="form-group mb-3">
            <label for="senhadigitada">Senha</label>
            <input type="password" name="senhadigitada" id="senhadigitada" class="form-control" placeholder="Senha" required />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <p class="text-center mt-3">
            Não possui uma conta? <a href="/cadastro">Clique aqui para cadastrar-se</a>
        </p>
    </form>
</div>
