@model UsuarioModel
@{
    ViewData["Title"] = "Login";

    var resultado = ViewBag.resultado;
    var errormessage1 = ViewBag.ErrorMessage1;
    var errormessage2 = ViewBag.ErrorMessage2;
    

}


@{
    string returnUrl = Context.Request.Query["ReturnUrl"];
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="~/js/frontend.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<div class="d-flex justify-content-end align-items-center vh-100">

    


    <form asp-controller="Login" asp-action="ChecarLogin" method="post" class="login-form p-4 rounded">

        


        
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <h2 class="text-center mb-4">Login</h2>
        <div class="form-group mb-3">
            <label for="cpfdigitado">CPF</label>
            <input type="text" name="cpfdigitado" id="cpfdigitado" minlength="14" maxlength="14"  class="form-control" placeholder="CPF" required oninput="mascaraCPF(this)"/>
            @* <span asp-validation-for="CPF" class="text-danger"></span> *@
        </div>
        <div class="form-group mb-3">
            <label for="senhadigitada">Senha</label>
            <input type="password" name="senhadigitada" id="senhadigitada" class="form-control" placeholder="Senha" required />
            @* <span asp-validation-for="Senha" class="text-danger"></span> *@
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <p class="text-center mt-3">
            Não possui uma conta? <a href="/cadastro">Clique aqui para cadastrar-se</a>
        </p>
        <p class="text-center mt-3"> Esqueceu sua senha? <a asp-controller="Login" asp-action="EsqueciSenha">Clique aqui para redefinir</a> </p>
        
         @if (ViewBag.resultado == false) { <div class="alert alert-danger"> @ViewBag.ErrorMessage2 </div> }
         

        
    </form>
</div>
</body>