@{
    ViewData["Title"] = "Home Page";
}


<h1> TELA INICIAL E LOGIN</h1>

<div class="text-center">
<input type="text" placeholder="E-mail">
<input type="text" placeholder="Senha">

<a asp-controller="Home" asp-action="CadastroPage">Acesso Tela cadastro</a>
    
</div>
