@{
    ViewData["Title"] = "ProdutorPage";
}


<h1> Página Produtor</h1>

<div class="text-center">
    <p>Página com conteúdo do Usuário <strong>Produtor</strong>!</p>

    
</div>

<a type= "button" asp-controller="InterfaceProdutor" asp-action="CadastrarPage">Cadastrar Produtos </a>
<a type= "button" asp-controller="InterfaceProdutor" asp-action="GerenciarProdutosPage">GerenciarProdutos </a>
<a type= "button" asp-controller="MuralVendas" asp-action="Index">MuralVendas</a>
<a type= "button" asp-controller="InterfaceProdutor" asp-action="RelatorioVendasPage">RelatorioVendasPage</a>