@{
    ViewData["Title"] = "IndexCadastro";
}


<h1> Página Cliente</h1>

<div class="text-center">
    <p>Página com conteúdo do Usuário <strong>Cliente</strong>!</p>
<a type= "button" asp-controller="MuralVendas" asp-action="Index">MuralVendas</a>
<a type= "button" asp-controller="InterfaceCliente" asp-action="RelatorioComprasPage">RelatorioComprasPage</a>

</div>