@{
    ViewData["Title"] = "ClientePage";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Interface Cliente.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
    <div class="top-bar">
        <a asp-controller ="Login" asp-action="Index"class="btn btn-light buttonSairConta">Sair da conta</a>
        <img src="~/css/LogoBranca.png" alt="Logo Mercado Raiz" class="imgLogoNavBar">
        

    </div>

    <!-- Container principal da página -->
    <div class="main-container">
        <!-- Container com o título e logo -->
        <div class="containerPrincipalinformativo">
            <h1 class="text-white textoPrincipal"><strong>Página do Cliente</strong></h1>
            <img src="~/css/LogoBranca.png" alt="Logo Mercado Raiz" class="imgLogoPrincipal img-fluid my-4">
        </div>

        <!-- Container dos botões -->
        <div class="containerPrincipalbotoes button-grid">
            <a asp-controller="MuralVendas" asp-action="Index" class="btn btn-card m-3 p-4 text-center">
               <i class="fa-solid fa-shop"></i> Mural de Vendas
            </a>
            <a asp-controller="InterfaceCliente" asp-action="RelatorioComprasPage" class="btn btn-card m-3 p-4 text-center">
               <i class='fas fa-chart-line'></i> Relatório de Compras
            </a>
        </div>
    </div>

</body>
</html>
